<app-header></app-header>

<div class="hold-transition skin-blue layout-top-nav">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- content header (page header) -->
    <section class="content-header">
      <h1>Add Trustee</h1>
    </section>
    <!-- main content -->
    <section class="content">
      <!--select2 example -->
      <div class="box box-default">
        <!-- /.box-header-->
        <div class="box-body">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>Trustee Name</label><br>
                <input type="text" name="trustee name" class="form-control" style="width:100%;" >
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Designation</label><br>
                <select class="form-control" style="width:100%;" >
                  <option selected="select Designation"></option>
                </select>
              </div>
            </div>
            <!-- Select Gender -->
            <div class="col-md-4">
              <div class="form-group">
                <label>Gender</label><br>
                <label class="radio-inline">
                  <input type="radio" name="optradio"><b>Male</b>
                </label>
                <label class="radio-inline">
                  <input type="radio" name="optradio"><b>Female</b>
                </label>
                <label class="radio-inline">
                  <input type="radio" name="optradio"><b>Other</b>
                </label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>Address 1</label><br>
                <input type="text" name="address1" class="form-control" style="width:100%;" >
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Address 2</label><br>
                <input type="text" name="address2" class="form-control" style="width:100%;" >
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label>State</label><br>
                <input type="text" name="state" class="form-control" style="width:100%;" >
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>City</label><br>
                <input type="text" name="trust name" class="form-control" style="width:100%;" >
              </div>

            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Pincode</label><br>
                <input type="text" class="form-control" style="width:100%;" data-inputmask="&quot;mask&quot;: &quot; 999-999&quot;" data-mask="" >
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Country</label><br>
                <input type="text" name="country" class="form-control" style="width:100%;" >
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>Contact No.</label><br>
                <input type="text" class="form-control" style="width:100%;" data-inputmask="&quot;mask&quot;: &quot;(999) 999-9999&quot;" data-mask="" >
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Email Address</label><br>
                <input type="email" name="email" class="form-control" style="width:100%;" >
              </div>
            </div>
          </div>
        </div>
        <div class="box-body">
          <div class="row">
            <div class="col-lg-2">
              <button type="submit" class="btn btn-primary btn-block btn-flat">Save</button>
            </div>

            <div class="col-lg-2">
              <button type="remove" class="btn btn-success btn-block btn-flat">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <app-footer></app-footer>
</div>
