<app-header></app-header>

<div class="hold-transition skin-blue layout-top-nav">

  <!-- Main content -->
  <div class="content-wrapper">
    <!-- content header (page header) -->
    <section class="content-header">
      <h1>Search Fees Head</h1>
      <ol class="breadcrumb">
        <li><b><a routerLink="/fees-setup" class="pull-right"><span style="color:blue;">Create Fees Setup</span></a></b></li>
      </ol>
    </section>
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title"></h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn bg-teal btn-sm" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="row">
                <!-- Select name of employee -->
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Sub Institute</label><br>
                    <select class="form-control select2" style="width:100%;" >
                      <option selected="selected">Sub Institute</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Section</label><br>
                    <select class="form-control select2" style="width:100%;" >
                      <option selected="selected" disabled>Select Section</option>
                      <option>Play Group</option>
                      <option>Primary</option>
                      <option>Secondary</option>
                      <option>Science</option>
                      <option>Arts</option>
                      <option>Commerce</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Standard</label><br>
                    <select class="form-control select2" style="width:100%;" >
                      <option selected="selected" disabled>Select Standard</option>
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                      <option>6</option>
                      <option>7</option>
                      <option>8</option>
                      <option>9</option>
                      <option>10</option>
                      <option>11</option>
                      <option>12</option>
                    </select>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label>Division</label><br>
                    <select class="form-control select2" style="width:100%;" >
                      <option selected="selected">Select Division</option>
                      <option>A</option>
                      <option>B</option>
                      <option>C</option>
                      <option>D</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Month</label><br>
                    <select class="form-control select2" style="width:100%;" >
                      <option selected="selected" disabled>Select Month</option>
                      <option>January</option>
                      <option>February</option>
                      <option>March</option>
                      <option>April</option>
                      <option>May</option>
                      <option>June</option>
                      <option>July</option>
                      <option>August</option>
                      <option>September</option>
                      <option>October</option>
                      <option>November</option>
                      <option>December</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Status</label><br>
                    <select class="form-control select2" style="width:100%;" >
                      <option selected="selected" disabled>Select Status</option>
                      <option>Active</option>
                      <option>In-Active</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="box-body">
                <div class="row">
                  <div class="col-lg-2">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Search</button>
                  </div>
                  <div class="col-lg-2">
                    <button type="reset" class="btn btn-success btn-block btn-flat">Clear</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Fees Head setup Search result column</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Section</th>
                  <th>Standard-Division</th>
                  <th>Month</th>
                  <th>Fees Head</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>Primary</td>
                  <td>7-B</td>
                  <td>March</td>
                  <td>-</td>
                  <td>Active</td>
                  <td><a class="#"><i class="fa fa-edit"></i></a> | <a class="#"><i class="fa fa-remove"></i></a></td>
                </tr>
                <tr>
                  <td>Primary</td>
                  <td>7-B</td>
                  <td>March</td>
                  <td>-</td>
                  <td>Active</td>
                  <td><a class="#"><i class="fa fa-edit"></i></a> | <a class="#"><i class="fa fa-remove"></i></a></td>
                </tr>
                <tr>
                  <td>Primary</td>
                  <td>7-B</td>
                  <td>March</td>
                  <td>-</td>
                  <td>Active</td>
                  <td><a class="#"><i class="fa fa-edit"></i></a> | <a class="#"><i class="fa fa-remove"></i></a></td>
                </tr>
                <tr>
                  <td>Primary</td>
                  <td>7-B</td>
                  <td>March</td>
                  <td>-</td>
                  <td>Active</td>
                  <td><a class="#"><i class="fa fa-edit"></i></a> | <a class="#"><i class="fa fa-remove"></i></a></td>
                </tr>
                <tr>
                  <td>Primary</td>
                  <td>7-B</td>
                  <td>March</td>
                  <td>-</td>
                  <td>Active</td>
                  <td><a class="#"><i class="fa fa-edit"></i></a> | <a class="#"><i class="fa fa-remove"></i></a></td>
                </tr>
                <tr>
                  <td>Primary</td>
                  <td>7-B</td>
                  <td>March</td>
                  <td>-</td>
                  <td>Active</td>
                  <td><a class="#"><i class="fa fa-edit"></i></a> | <a class="#"><i class="fa fa-remove"></i></a></td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                  <th>Section</th>
                  <th>Standard-Division</th>
                  <th>Month</th>
                  <th>Fees Head</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>

  <!-- /.content-wrapper -->
  <app-footer></app-footer>
</div>
