<app-header></app-header>

<div class="hold-transition skin-blue layout-top-nav">

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- content header (page header) -->
    <section class="content-header">
      <h1>Add Event</h1>
      <ol class="breadcrumb">
        <li><b><a routerLink="/events-search" class="pull-right"><span style="color:blue;">Search Event</span></a></b></li>
      </ol>
    </section>
    <!-- main content -->
    <section class="content">
      <!--select2 example -->
      <div class="box box-default">
        <!-- /.box-header-->
        <div class="box-body">
          <div class="row">
            <!-- Select name of employee -->
            <div class="col-md-4">
              <div class="form-group">
                <label>Sub Institute</label><br>
                <select class="form-control select2" style="width:100%;" >
                  <option selected="">Sub Institute</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">

            <div class="col-md-4">
              <div class="form-group">
                <label>Standard</label><br>
                <input type="text" name="standard" class="form-control" style="width:100%;" >
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Division</label><br>
                <input type="text" name="division" class="form-control" style="width:100%;" >
              </div>
            </div>
          </div>

          <!-- From time to To time  -->
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>Title</label><br>
                <input type="text" name="title" class="form-control" style="width:100%;" >
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>From Time</label>
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-clock-o"></i>
                  </div>
                  <input type="text" class="form-control" data-inputmask="'alias': 'HH:MM'" data-mask>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>To Time</label><br>
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-clock-o"></i>
                  </div>
                  <input type="text" class="form-control" data-inputmask="'alias': 'HH:MM'" data-mask>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Location</label><br>
                <textarea style="width:100%;"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="box-body pad">
                <form>
									<textarea id="editor1" name="editor1" rows="10" cols="60">
										This is my textarea to be replaced with CKEditor.
									</textarea>
                </form>
              </div>
            </div>
            <!-- /.col-->
          </div>
          <!-- ./row -->
        </div>
        <div class="box-body">
          <div class="row">
            <div class="col-lg-2">
              <button type="submit" class="btn btn-primary btn-block btn-flat">Save</button>
            </div>

            <div class="col-lg-2">
              <button type="remove" class="btn btn-success btn-block btn-flat">Cancel</button>
            </div>
          </div>
        </div>
      </div>
  </section>
</div>
<!-- /.content-wrapper -->
  <app-footer></app-footer>
</div>
