<app-header></app-header>

<div class="hold-transition skin-blue layout-top-nav">

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- content header (page header) -->
    <section class="content-header">
      <h1>Collect Fees</h1>
    </section>
    <!-- main content -->
    <section class="content">
      <!--select2 example -->
      <!-- /.box-header-->
      <div class="box box-default">
        <!-- /.box-header-->
        <div class="box-body">
          <div class="row">
            <!-- Select name of employee -->
            <div class="col-md-4">
              <div class="form-group">
                <label>Sub Institute</label><br>
                <select class="form-control select2" style="width: 100%;">
                  <option selected="selected" disabled>Select Sub Institute</option>
                  <option></option>
                  <option></option>
                  <option></option>
                  <option></option>
                  <option></option>
                  <option></option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>Section</label><br>
                <select class="form-control select2" style="width: 100%;">
                  <option selected="selected" disabled>Select Section</option>
                  <option>Play Group</option>
                  <option>Primary</option>
                  <option>Secondary</option>
                  <option>Science</option>
                  <option>Arts</option>
                  <option>Commerce</option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Receipt No</label>
                <input type="text" class="form-control" style="width:100%;">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Date of Transaction</label>
                <input type="text" class="form-control" style="width:100%;">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Search Student</label>
                <!-- search form -->
                <div class="input-group">
                  <input type="text" name="q" class="form-control" placeholder="Search...">
                  <span class="input-group-btn">
											<button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
										</span>
                </div>
                <!-- /.search form -->
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Standard</label>
                <input type="text" class="form-control" style="width:100%;">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Division</label><br>
                <select class="form-control select2" style="width:100%;" >
                  <option selected="selected" disabled>Select Division</option>
                  <option>A</option>
                  <option>B</option>
                  <option>C</option>
                  <option>D</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>Roll No</label><br>
                <input type="text" name="roll no" class="form-control" style="width:100%;" >
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Month</label><br>
                <select class="form-control select2" style="width:100%;" >
                  <option selected="selected" disabled>Select Month</option>
                  <option>January</option>
                  <option>February</option>
                  <option>March</option>
                  <option>April</option>
                  <option>May</option>
                  <option>June</option>
                  <option>July</option>
                  <option>August</option>
                  <option>September</option>
                  <option>October</option>
                  <option>November</option>
                  <option>December</option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Fees Head</label><br>

                <div class="checkbox-inline">
                  <label><input type="checkbox" value="">Check me</label>
                </div>
              </div>
            </div>
          </div>
          <!-- State and City-->
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>Total</label><br>
                <input type="text" name="total" class="form-control" style="width:100%;" >
              </div>
            </div>
          </div>
        </div>
        <div class="box-body">
          <div class="row">
            <div class="col-lg-2">
              <button type="submit" class="btn btn-primary btn-block btn-flat">Save</button>
            </div>

            <div class="col-lg-2">
              <button type="remove" class="btn btn-success btn-block btn-flat">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- /.content-wrapper -->
  <app-footer></app-footer>
</div>
